<h2>About Us</h2>

<p>Our purpose is to provide professional, responsive representation to our clients in their important legal 	matters. Our specialty is the effecient, professional, cost effective handling of high volume, small balance, 	consumer collections.
</p>
	
<p>We have developed systems which allow us to collect a much greater percentage of such cases than is possible 	through non-judicial collection methods. We have proven this over twenty years and in tens of thousands of 	     	cases. The availability of judicial remedies allows us to treat the debtors respectfully with no loss of 	efficiency
</p>

