

<h3>Kendall S. Peterson</h3>
<ul class="thumbnails">
	<li class="span4">
	<div class="thumbnail">
		<a href="#" class="thumbnail">
		<img src="holder.js/300x200" alt="Picture of Kendall S. Peterson">
		</a>
		<a href="mailto:b.nykamp@legalut.com">k.peterson at legalut.com</a>
		</div>
	</li>
	
</ul>

<h3>Bradley G. Nykamp</h3>
<ul class="thumbnails">
	<li class="span4">
	<div class="thumbnail">
		<a href="#" class="thumbnail">
		<img src="holder.js/300x200" alt="Picture of Bradley G. Nykamp">
		</a>
		<a href="mailto:b.nykamp@legalut.com">b.nykamp at legalut.com</a>
		</div>
	</li>

</ul>