<div id="contactus">
<address>
	<h1><strong>Peterson Nykamp Law</strong></h1><br>
	5383 South 900 East, Suite 205<br>
	Salt Lake City, Utah 84117<br>
	<abbr title="Phone">Telephone</abbr> (801) 261-2220<br>
	<abbr title="Phone">Facsimile</abbr> (801) 261-2230


</address>


</div>

<img src="http://maps.googleapis.com/maps/api/staticmap?center=40.653978,-111.865346&zoom=16&size=550x550&markers=color:blue%7Clabel:S%7C40.653978,-111.865346&sensor=false">