// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.content {
	margin-top: 85px;
}


.navbar-inner {
	height: 130px;
	/*background: #841618 !important;*/
	background: white !important;
}

.navbar .nav.pull-right {
	margin-top: 42px;
}

div.brand img {
	margin-top: -50px;
}

.navbar-inverse .navbar-inner {
	
}
.nav > a{
	padding-right: 30px;
	padding-bottom:5px;
}

.navbar .nav >  a{
	color: #841618;
}
.nav  a {
	font-size: 22px;	
	text-decoration: none
}


.nav a:hover {
	border-bottom: solid #841618 3px;
	color:#841618 !important;
	font-weight: bold;
}




.navbar-inverse .brand {
	font-size:30px;
	font: Arial;
	
}

.navbar-inverse a.subtitle {
	font-size: 25px;
	font-style: italic;
	padding-left: 56px;

}

a.brand.subtitle {
	margin-top: -78px;
	margin-left: 95px;
	color: #841618 !important;
}

